@import "tailwindcss";

body {
    background-image: url("./Wallpaper.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: #ffff;
}
